<div class="header">
  <img class="logo" src="/images/logo.png" /> 
  <a href="/"><h1 class="title">Immoboili</h1></a>
  <!--<a  href="#" onclick="return openmenu();"><img class="menu" src="images/hamburger.png"/></a>-->
  <div class="list" id="list">
    <div class="content" id="content">
      <a href="/">Home</a>
      <a href="/users/">Profile</a>
      <a href="/annunci/index">Annunci</a>
    </div>
  </div>
</div>